* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  background-color: hsl(0deg, 0%, 60%);
}

header {
  background-color: hsl(0deg, 0%, 100%);
  padding-top: 128px;
  border-bottom: 8px solid hsl(0deg, 0%, 40%);
}

strong {
  color: hsl(160deg, 100%, 30%);
}

.max-width-wrapper {
  max-width: 576px;
  margin-left: auto;
  margin-right: auto;
}

.intro-chunk {
  margin-bottom: 48px;
  padding: 0 24px;
}

.intro-chunk > p {
  max-width: 350px;
  font-size: 1.25rem;
}

.title {
  font-weight: 700;
  margin-bottom: 48px;
}

.card {
  background-color: hsl(0deg, 0%, 100%);
  padding: 8px 24px 16px;
  margin-top: 32px;
}

.indented-heading {
  margin: 0;
  margin-left: -32px;
  width: fit-content;
  background-color: hsl(45deg, 100%, 50%);
  padding: 16px 32px;
  border-bottom: 8px solid hsl(45deg, 100%, 45%);
}
